openapi: 3.1.0
info:
  title: Drogon Blog API
  version: 1.0.0
  summary: Backend REST surface for the Drogon Blog SPA.
  description: |
    Session-cookie + CSRF-double-submit authentication. Argon2id for
    passwords. Optional 2FA via TOTP, WebAuthn passkeys, and recovery
    codes. PostgreSQL underneath with versioned migrations.

    **Authentication model**

    Login issues an `HttpOnly` `JSESSIONID` session cookie. A
    same-origin request to any state-mutating endpoint must also send
    the `X-CSRF-Token` header set to the value of the `csrf_token`
    cookie (double-submit pattern). Read-only `GET` requests don't
    need the CSRF header.

    **Conditional GETs**

    Listed endpoints return weak ETags (`W/"…"`) and honour
    `If-None-Match` for `304 Not Modified` revalidation. `/auth/me`
    additionally emits `Vary: Cookie` so any shared cache stays
    correctly partitioned by session.

    **Rate limiting**

    Two layers, and they answer different attacks.

    Per-IP token buckets sit in front of `/auth/login`, `/auth/register`,
    `/auth/request-reset`, `/auth/resend-verification`,
    `/auth/reset-password` and `/posts/search`.

    Per-account buckets sit inside the handler for everything that costs
    real work or is an oracle for a secret: `/auth/change-password`, the
    TOTP enrolment pair, `/posts` and `/posts/images` and `/posts/preview`,
    comment creation, message sending, avatar upload, `/reports`, and both
    `/account/*` endpoints. Per-account rather than per-IP because the
    caller is already authenticated — rotating IPs is not supposed to buy
    them a fresh budget.

    Exceeding either returns `429` with a `Retry-After` header. Responses
    also carry advisory `X-RateLimit-Limit`, `X-RateLimit-Remaining` and
    `X-RateLimit-Reset` headers, on success as well as on rejection, so a
    client can see the shape of its budget without having to hit the wall
    first.
  contact:
    name: Drogon Blog
    url: https://github.com/micutu/drogon_blog
  license:
    name: MIT

servers:
  - url: https://blog.micutu.com
    description: Production
  - url: http://127.0.0.1:8092
    description: Local dev (Drogon listening on loopback)

tags:
  - name: Auth
    description: Account lifecycle — registration, sign-in, password reset, email verification.
  - name: 2FA
    description: Two-factor enrolment — TOTP secrets, WebAuthn passkeys, recovery codes.
  - name: 2FA login challenges
    description: Second-step verification after a password login when 2FA is enrolled.
  - name: Posts
    description: Blog posts CRUD, full-text search, likes.
  - name: Comments
    description: Comment threads attached to posts.
  - name: Messages
    description: Direct messages between users (HTTP) plus the realtime WebSocket hub at `/ws/messages`.
  - name: Users
    description: Public profiles + the signed-in user's own profile / avatar.
  - name: Ops
    description: Health, readiness, and Prometheus metrics for the running process.
  - name: Tags
    description: Post tags — the slug-normalised labels a post is filed under.
  - name: Social
    description: Bookmarks, author follows, and the personalised following feed.
  - name: Notifications
    description: What happened while you were away — replies, follows, new posts from authors you follow.
  - name: Privacy
    description: Data portability and erasure — download a copy of the account, or end it.
  - name: Moderation
    description: Abuse reports, plus the staff-only queue and the hide / suspend actions behind it.
  - name: Flags
    description: Feature flags as evaluated for the calling user.

security:
  - sessionCookie: []
  - sessionCookie: []
    csrfHeader: []

paths:
  # ---------------------------------------------------------------- Auth
  /auth/register:
    post:
      tags: [Auth]
      summary: Create a new account
      description: |
        Username and email must be unique. Email is normalised + lightly
        validated; control bytes are rejected to prevent SMTP header
        injection. The password is hashed with Argon2id. A verification
        email is sent asynchronously; the response returns regardless of
        SMTP success so a slow MTA doesn't block the user.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: Username or email already in use.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in with username + password
      description: |
        On success, sets the session cookie and the CSRF cookie. If the
        account has 2FA enrolled, the response carries `two_step` and a
        short-lived `challenge_id` — the client must then complete one
        of `/auth/login/verify-{totp,recovery,webauthn}`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Either fully authenticated or a 2FA challenge issued.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LoginSuccess'
                  - $ref: '#/components/schemas/TwoStepChallenge'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Sign out
      description: Clears the session and CSRF cookies server-side. Idempotent.
      responses:
        '200':
          description: Logged out.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }

  /auth/me:
    get:
      tags: [Auth]
      summary: Current user's identity
      description: |
        Returns the signed-in user's profile. Emits `Vary: Cookie` and a
        weak ETag so a browser back-button / prefetch returns 304
        without leaking another session's data through a shared cache.
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Current user.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
            Vary:
              schema: { type: string, const: Cookie }
              description: Tells caches to partition by Cookie header.
            Cache-Control:
              schema: { type: string, example: 'private, max-age=0, must-revalidate' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrentUser' }
        '304': { $ref: '#/components/responses/NotModified' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/verify-email:
    post:
      tags: [Auth]
      summary: Consume an email-verification token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token: { type: string, description: Single-use token from the verification email. }
      responses:
        '200':
          description: Email verified.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400':
          description: Invalid or expired token.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/request-reset:
    post:
      tags: [Auth]
      summary: Request a password-reset email
      description: |
        Returns 200 regardless of whether the email exists, so an
        attacker cannot enumerate registered addresses. A reset link is
        sent asynchronously if the address is on file.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Email queued (always, regardless of account existence).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Consume a reset token and set a new password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token:    { type: string }
                password: { type: string, format: password, minLength: 10 }
      responses:
        '200':
          description: Password reset.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400':
          description: Token invalid / expired / weak password.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/resend-verification:
    post:
      tags: [Auth]
      summary: Re-send the email-verification message
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses:
        '200':
          description: Queued (regardless of account state).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ---------------------------------------------------------------- 2FA enrollment
  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change the signed-in account's password
      description: |
        Requires the current password. That re-authentication is the point of
        the endpoint rather than a formality: without it a hijacked session
        could change the password and lock the real owner out.

        On success every **other** session for the account is revoked. This is
        the behaviour a user changing their password is asking for — it is what
        people do when they suspect someone else is in the account, and leaving
        an attacker's session alive would make the action pointless. The
        calling session is deliberately kept so the user is not signed out of
        the device they are using.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password: { type: string, format: password }
                new_password:     { type: string, format: password, minLength: 8, maxLength: 256 }
      responses:
        '200':
          description: Password changed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:          { type: string }
                  revoked_sessions:
                    type: integer
                    description: How many other sessions were signed out.
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: The supplied current password was wrong.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /auth/sessions:
    get:
      tags: [Auth]
      summary: List the account's active sessions
      description: |
        One entry per device currently holding a session, newest activity
        first. `sid` identifies a session but is not a credential — presenting
        it authenticates nothing, so it is safe to hand to the client that
        owns it.

        Sessions live in the server's memory, so a restart ends all of them
        and the list empties.
      responses:
        '200':
          description: Active sessions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions:
                    type: array
                    items: { $ref: '#/components/schemas/SessionEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/sessions/revoke:
    post:
      tags: [Auth]
      summary: Sign out one session
      description: |
        Scoped to the caller's own account: the update matches on
        `(sid, user_id)`, so a sid belonging to someone else simply matches
        nothing. `404` therefore covers both "no such session" and "not
        yours", which is intentional — the two must not be distinguishable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sid]
              properties:
                sid: { type: string }
      responses:
        '200':
          description: Session revoked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /auth/sessions/revoke-others:
    post:
      tags: [Auth]
      summary: Sign out every session except this one
      responses:
        '200':
          description: Other sessions revoked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:          { type: string }
                  revoked_sessions: { type: integer }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/status:
    get:
      tags: [2FA]
      summary: 2FA factors enrolled on this account
      responses:
        '200':
          description: Status snapshot.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TwoFactorStatus' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/totp/setup:
    post:
      tags: [2FA]
      summary: Generate a fresh TOTP secret + QR
      description: |
        The secret is wrapped at rest via libsodium `crypto_secretbox`
        (key from `BLOG_TOTP_KEY`). The response includes a
        `otpauth://` URI for QR rendering; confirm with
        `/auth/2fa/totp/confirm` to activate.
      responses:
        '200':
          description: Provisioning material.
          content:
            application/json:
              schema:
                type: object
                required: [secret, otpauth_url, qr_svg]
                properties:
                  secret:       { type: string, description: Base32 TOTP secret (do not store client-side beyond the setup flow). }
                  otpauth_url:  { type: string, format: uri }
                  qr_svg:       { type: string, description: Inline SVG for the QR code. }
                  recovery_codes:
                    type: array
                    items: { type: string }
                    description: One-time use codes shown only once at first 2FA activation.
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/totp/confirm:
    post:
      tags: [2FA]
      summary: Confirm and activate the pending TOTP secret
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, pattern: '^[0-9]{6}$' }
      responses:
        '200':
          description: TOTP enrolled.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/disable:
    post:
      tags: [2FA]
      summary: Remove TOTP and recovery codes
      description: Requires the user's current password as a re-auth step.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        '200':
          description: 2FA disabled.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/recovery-codes/regenerate:
    post:
      tags: [2FA]
      summary: Issue a fresh batch of one-time recovery codes
      description: Invalidates the previous batch atomically.
      responses:
        '200':
          description: New codes.
          content:
            application/json:
              schema:
                type: object
                required: [recovery_codes]
                properties:
                  recovery_codes:
                    type: array
                    items: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/webauthn/register/begin:
    post:
      tags: [2FA]
      summary: Start a WebAuthn credential registration
      description: |
        Returns the PublicKeyCredentialCreationOptions the browser
        passes to `navigator.credentials.create()`. The challenge is
        bound to the session.
      responses:
        '200':
          description: Creation options.
          content:
            application/json:
              schema:
                type: object
                description: PublicKeyCredentialCreationOptions per WebAuthn Level 2.
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/webauthn/register/finish:
    post:
      tags: [2FA]
      summary: Persist a new WebAuthn credential
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: AuthenticatorAttestationResponse + optional nickname (≤128 chars).
              properties:
                nickname: { type: string, maxLength: 128 }
      responses:
        '200':
          description: Credential registered.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/webauthn/list:
    get:
      tags: [2FA]
      summary: List the user's registered WebAuthn credentials
      responses:
        '200':
          description: Credentials.
          content:
            application/json:
              schema:
                type: object
                required: [credentials]
                properties:
                  credentials:
                    type: array
                    items: { $ref: '#/components/schemas/WebAuthnCredential' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/2fa/webauthn/remove/{credentialId}:
    post:
      tags: [2FA]
      summary: Remove a single WebAuthn credential
      parameters:
        - in: path
          name: credentialId
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Removed.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------------------------------------------------------- 2FA login challenges
  /auth/login/verify-totp:
    post:
      tags: [2FA login challenges]
      summary: Complete a 2FA login with a TOTP code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_id, code]
              properties:
                challenge_id: { type: string }
                code:         { type: string, pattern: '^[0-9]{6}$' }
      responses:
        '200':
          description: Authenticated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginSuccess' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/login/verify-recovery:
    post:
      tags: [2FA login challenges]
      summary: Complete a 2FA login with a recovery code
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_id, code]
              properties:
                challenge_id: { type: string }
                code:         { type: string, description: One-time recovery code shown at enrolment. }
      responses:
        '200':
          description: Authenticated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginSuccess' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/login/verify-webauthn/begin:
    post:
      tags: [2FA login challenges]
      summary: Start a WebAuthn assertion for the current login challenge
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge_id]
              properties:
                challenge_id: { type: string }
      responses:
        '200':
          description: PublicKeyCredentialRequestOptions.
          content:
            application/json:
              schema: { type: object }
        '400': { $ref: '#/components/responses/BadRequest' }

  /auth/login/verify-webauthn/finish:
    post:
      tags: [2FA login challenges]
      summary: Finalise a WebAuthn assertion
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: AuthenticatorAssertionResponse + challenge_id.
      responses:
        '200':
          description: Authenticated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginSuccess' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ---------------------------------------------------------------- Posts
  /posts:
    get:
      tags: [Posts]
      summary: List posts (cursor-paginated, newest first)
      security: []
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
        - in: query
          name: cursor
          schema: { type: integer, minimum: 1 }
          description: Pass back the `next_cursor` value from the previous page.
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Page of posts.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PostList' }
        '304': { $ref: '#/components/responses/NotModified' }
    post:
      tags: [Posts]
      summary: Create a new post
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PostCreate' }
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Post' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }

  /posts/search:
    get:
      tags: [Posts]
      summary: Full-text search over posts
      description: |
        Uses Postgres `websearch_to_tsquery` + `ts_headline` for the
        snippet. The post body is HTML-escaped before highlighting so
        stored XSS cannot survive the `<mark>` wrap. Snippet preserves
        only the `<mark>` wrapping that ts_headline adds.
      security: []
      parameters:
        - in: query
          name: q
          required: true
          schema: { type: string, minLength: 1, maxLength: 256 }
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Up to 50 ranked matches.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/PostSearchHit' }
        '304': { $ref: '#/components/responses/NotModified' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /posts/{id}:
    parameters:
      - $ref: '#/components/parameters/PostId'
    get:
      tags: [Posts]
      summary: Fetch a single post
      security: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Post.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Post' }
        '304': { $ref: '#/components/responses/NotModified' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Posts]
      summary: Update the calling user's own post
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PostUpdate' }
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Post' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
    delete:
      tags: [Posts]
      summary: Delete the calling user's own post
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /posts/user/{userId}:
    get:
      tags: [Posts]
      summary: List posts by a specific author
      security: []
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: integer, minimum: 1 }
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Author's posts.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema:
                type: object
                required: [posts]
                properties:
                  posts:
                    type: array
                    items: { $ref: '#/components/schemas/Post' }
        '304': { $ref: '#/components/responses/NotModified' }

  /posts/{id}/like:
    parameters:
      - $ref: '#/components/parameters/PostId'
    post:
      tags: [Posts]
      summary: Like a post
      description: Atomic insert via `ON CONFLICT DO NOTHING RETURNING`. Returns 409 if already liked.
      responses:
        '201':
          description: Liked.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Post already liked by this user.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [Posts]
      summary: Remove a previous like
      responses:
        '200':
          description: Unliked.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /posts/{id}/likes:
    parameters:
      - $ref: '#/components/parameters/PostId'
    get:
      tags: [Posts]
      summary: Likes count for a post
      security: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Count + whether the calling session has liked.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema:
                type: object
                required: [count]
                properties:
                  count:     { type: integer, minimum: 0 }
                  liked_by_me:
                    type: boolean
                    description: Only present when the request carries an authenticated session.
        '304': { $ref: '#/components/responses/NotModified' }

  # ---------------------------------------------------------------- Comments
  /posts/{id}/comments:
    parameters:
      - $ref: '#/components/parameters/PostId'
    get:
      tags: [Comments]
      summary: List the comment thread under a post
      security: []
      parameters:
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Comments (chronological).
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema:
                type: object
                required: [comments]
                properties:
                  comments:
                    type: array
                    items: { $ref: '#/components/schemas/Comment' }
        '304': { $ref: '#/components/responses/NotModified' }
    post:
      tags: [Comments]
      summary: Post a comment on a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, minLength: 1, maxLength: 10240 }
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                type: object
                required: [comment]
                properties:
                  comment: { $ref: '#/components/schemas/Comment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }

  /comments/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: integer, minimum: 1 }
    put:
      tags: [Comments]
      summary: Edit the calling user's own comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content: { type: string, minLength: 1, maxLength: 10240 }
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment: { $ref: '#/components/schemas/Comment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
    delete:
      tags: [Comments]
      summary: Delete the calling user's own comment
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------------------------------------------------------- Messages
  /messages:
    post:
      tags: [Messages]
      summary: Send a direct message
      description: |
        Persists the message and pushes a `pg_notify` event picked up by
        the WebSocket hub at `/ws/messages`. Recipients with an active
        subscription receive a preview frame immediately.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [receiver_id, content]
              properties:
                receiver_id: { type: integer, minimum: 1 }
                content:     { type: string, minLength: 1, maxLength: 10240 }
      responses:
        '201':
          description: Sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { $ref: '#/components/schemas/DirectMessage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }

  /messages/received:
    get:
      tags: [Messages]
      summary: Inbox — messages addressed to the calling user
      responses:
        '200':
          description: Messages.
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items: { $ref: '#/components/schemas/DirectMessage' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /messages/sent:
    get:
      tags: [Messages]
      summary: Outbox — messages sent by the calling user
      responses:
        '200':
          description: Messages.
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items: { $ref: '#/components/schemas/DirectMessage' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /messages/conversation/{userId}:
    get:
      tags: [Messages]
      summary: Conversation thread with another user
      parameters:
        - in: path
          name: userId
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Both directions, chronological.
          content:
            application/json:
              schema:
                type: object
                required: [messages]
                properties:
                  messages:
                    type: array
                    items: { $ref: '#/components/schemas/DirectMessage' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /messages/{id}/read:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: integer, minimum: 1 }
    put:
      tags: [Messages]
      summary: Mark a received message as read
      responses:
        '200':
          description: Marked.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /messages/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: integer, minimum: 1 }
    delete:
      tags: [Messages]
      summary: Delete a message you sent or received
      responses:
        '200':
          description: Deleted.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Message' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ---------------------------------------------------------------- Users
  /users:
    get:
      tags: [Users]
      summary: List public user profiles
      security: []
      responses:
        '200':
          description: Users.
          content:
            application/json:
              schema:
                type: object
                required: [users]
                properties:
                  users:
                    type: array
                    items: { $ref: '#/components/schemas/PublicUser' }

  /users/{id}:
    get:
      tags: [Users]
      summary: Fetch a public profile
      security: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: integer, minimum: 1 }
        - $ref: '#/components/parameters/IfNoneMatch'
      responses:
        '200':
          description: Profile.
          headers:
            ETag: { $ref: '#/components/headers/ETag' }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicUser' }
        '304': { $ref: '#/components/responses/NotModified' }
        '404': { $ref: '#/components/responses/NotFound' }

  /users/profile:
    put:
      tags: [Users]
      summary: Update the calling user's own profile
      description: |
        Email changes are gated: when the supplied email differs from
        the current one, the change is queued behind a new verification
        token and the active email_verified flag is cleared until the
        link is consumed. Bio is hard-capped at 8 KiB.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProfileUpdate' }
      responses:
        '200':
          description: Updated.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CurrentUser' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }

  /users/profile/image:
    post:
      tags: [Users]
      summary: Upload / replace the calling user's avatar
      description: |
        `multipart/form-data` upload. Server-side: validates file type,
        re-encodes through libvips to strip metadata, generates a random
        filename suffix (no timestamp guessing).
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Uploaded.
          content:
            application/json:
              schema:
                type: object
                required: [profile_image]
                properties:
                  profile_image: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }

  # ---------------------------------------------------------------- Ops
  /healthz:
    get:
      tags: [Ops]
      summary: Liveness probe — process is up
      security: []
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, const: ok }

  /readyz:
    get:
      tags: [Ops]
      summary: Readiness probe — process is up AND can reach Postgres
      security: []
      responses:
        '200':
          description: Ready.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, const: ready }
        '503':
          description: Not ready (DB unreachable, draining, …).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string }

  /metrics:
    get:
      tags: [Ops]
      summary: Prometheus exposition format
      description: |
        Gated behind `Authorization: Bearer <BLOG_METRICS_TOKEN>` when
        the env var is set in production. Returns text/plain in the
        Prometheus exposition format.
      security:
        - bearerMetricsToken: []
      responses:
        '200':
          description: Metrics.
          content:
            text/plain:
              schema:
                type: string
                example: |
                  # HELP blog_uptime_seconds Time since process start
                  blog_uptime_seconds 1234
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ---------------------------------------------------------------- Tags
  /tags:
    get:
      tags: [Tags]
      summary: Every tag in use, with post counts
      description: |
        Tags are stored by slug, so `C++`, `c++` and ` C ++ ` are one tag.
        `label` is the spelling the first author to use it typed, which is
        what gets displayed; `slug` is what the URL carries.

        Tags with no remaining posts are not listed — they are swept by
        `scripts/cleanup.sh` rather than lingering as empty links.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [tags]
                properties:
                  tags:
                    type: array
                    items: { $ref: '#/components/schemas/TagSummary' }

  /tags/{slug}/posts:
    get:
      tags: [Tags]
      summary: Published posts carrying a tag
      description: |
        Drafts and hidden posts are excluded, so this is safe to serve to an
        anonymous reader.

        An unknown slug answers `200` with an empty list rather than `404`:
        tags are swept once they have no posts left, so "no such tag" and
        "that tag has nothing in it" are the same state, and a client
        rendering a tag page should show an empty page either way.
      security: []
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string, maxLength: 39 }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 50 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag:   { type: string }
                  count: { type: integer }
                  posts:
                    type: array
                    items: { $ref: '#/components/schemas/Post' }

  # ------------------------------------------------------- Posts (extras)
  /posts/drafts:
    get:
      tags: [Posts]
      summary: The signed-in author's own drafts
      description: |
        A draft is a post with `published_at IS NULL`. It is invisible to
        everyone but its author — absent from the feed, from tag listings and
        from search, and `GET /posts/{id}` answers `404` rather than `403` for
        anyone else, since a `403` would confirm the draft exists.

        Answered `private, no-store`: unpublished work must never sit in a
        shared cache.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items: { $ref: '#/components/schemas/Post' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /posts/preview:
    post:
      tags: [Posts]
      summary: Render Markdown without saving anything
      description: |
        Backs the editor's live preview. Rendered server-side, through the
        same cmark-gfm SAFE pipeline publishing uses — a second, client-side
        renderer would be one fewer round trip and would quietly disagree,
        and every place the two disagreed the preview would be lying about
        what the post is going to look like.

        Rate-limited per account and offloaded to the media worker pool:
        rendering is unbounded CPU on caller-supplied input. Answered
        `private, no-store`, because a preview is unpublished work.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, maxLength: 102400 }
      responses:
        '200':
          description: Rendered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  content_html:    { type: string }
                  reading_minutes: { type: integer, minimum: 1 }
                  excerpt:         { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /posts/{id}/related:
    get:
      tags: [Posts]
      summary: Posts sharing tags with this one
      description: |
        Ordered by how many tags the two posts have in common, newest
        breaking the tie. Drafts and hidden posts are excluded.

        A post with no tag overlap gets an empty list rather than a
        substitute selection of recent posts: the section claims these are
        related, and filling it with whatever was published yesterday makes
        that claim false.
      security: []
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      allOf:
                        - $ref: '#/components/schemas/Post'
                        - type: object
                          properties:
                            shared_tags:
                              type: integer
                              description: How many tags this post has in common with the one being read.

  /posts/images:
    post:
      tags: [Posts]
      summary: Upload an inline image for a post body
      description: |
        The file is re-encoded, stripped of metadata and bounded in size on
        the server, so the returned URL is always a same-origin image with no
        EXIF and no surprise payload. Embed it as Markdown: `![](url)`.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image: { type: string, format: binary }
      responses:
        '200':
          description: Uploaded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url: { type: string, description: Same-origin path to the stored image. }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '413': { $ref: '#/components/responses/PayloadTooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # -------------------------------------------------------------- Social
  /bookmarks:
    get:
      tags: [Social]
      summary: The signed-in reader's saved posts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items: { $ref: '#/components/schemas/Post' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /posts/{id}/bookmark:
    post:
      tags: [Social]
      summary: Save a post
      description: Idempotent — saving an already-saved post is not an error.
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '200':
          description: Saved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookmarked: { type: boolean, const: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Social]
      summary: Un-save a post
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '200':
          description: Removed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  bookmarked: { type: boolean, const: false }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }

  /users/{id}/follow:
    post:
      tags: [Social]
      summary: Follow an author
      description: |
        Following yourself is refused by a database constraint as well as by
        this handler. A follow makes the author's new posts appear in
        `/feed/following` and produces a notification for each one.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Following.
          content:
            application/json:
              schema:
                type: object
                properties:
                  following: { type: boolean, const: true }
        '400':
          description: Attempted to follow yourself.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Social]
      summary: Unfollow an author
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: Unfollowed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  following: { type: boolean, const: false }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }

  /users/{id}/follow-stats:
    get:
      tags: [Social]
      summary: Follower and following counts for a user
      description: |
        `is_following` is the *caller's* relationship to this user and is
        always false for an anonymous reader, so the response carries
        `Vary: Cookie`.
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FollowStats' }

  /feed/following:
    get:
      tags: [Social]
      summary: Posts from the authors the caller follows
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items: { $ref: '#/components/schemas/Post' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  # ------------------------------------------------------- Notifications
  /notifications:
    get:
      tags: [Notifications]
      summary: The caller's notifications, newest first
      description: |
        Delivery is push-then-refetch: the WebSocket hub sends a nudge on the
        shared `blog_event` channel and the client re-reads this endpoint.
        The nudge carries no content, so nothing sensitive rides the
        notification channel.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 50, default: 50 }
        - name: before
          in: query
          description: Page backwards — return notifications with an id below this.
          schema: { type: integer, format: int64 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items: { $ref: '#/components/schemas/Notification' }
                  unread: { type: integer, format: int64 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /notifications/unread:
    get:
      tags: [Notifications]
      summary: Unread count only
      description: Backs the navigation badge, which does not need the bodies.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  unread: { type: integer, format: int64 }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /notifications/{id}/read:
    post:
      tags: [Notifications]
      summary: Mark one notification read
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64, minimum: 1 }
      responses:
        '200':
          description: Marked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  unread: { type: integer, format: int64 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Mark every notification read
      responses:
        '200':
          description: Marked.
          content:
            application/json:
              schema:
                type: object
                properties:
                  marked: { type: integer, format: int64 }
                  unread: { type: integer, const: 0 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }

  # ---------------------------------------------------------- Your data
  /account/export:
    post:
      tags: [Privacy]
      summary: Download everything the account holds
      description: |
        One JSON document covering the profile, posts and drafts, comments,
        likes, bookmarks, follows in both directions, every message sent or
        received, notifications, sign-in history and reports filed.

        Reports filed *about* the caller are deliberately absent: those are
        somebody else's statement, and returning them would deanonymise the
        reporter.

        `POST` rather than `GET` because it carries the password, and a
        password in a URL ends up in the browser history, the `Referer`
        header and every proxy log on the way. The password is re-verified
        for the same reason the endpoint exists: a session cookie proves
        somebody was signed in on this browser at some point, not that they
        are the account holder now.

        Assembled in one `REPEATABLE READ` transaction, so the sections
        cannot disagree with each other. Answered `private, no-store` with a
        `Content-Disposition: attachment`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password: { type: string, format: password }
      responses:
        '200':
          description: The export.
          headers:
            Content-Disposition:
              schema: { type: string }
              description: '`attachment; filename="blog-export-<username>.json"`'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountExport' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: |
            Wrong password, or the CSRF header was missing. Both are `403`;
            the body distinguishes them.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /account/delete:
    post:
      tags: [Privacy]
      summary: Erase the account
      description: |
        Deletes the caller's posts and drafts, comments, likes, bookmarks,
        follows, every message they sent or received, their notifications,
        their reports and their 2FA enrolment; anonymises the profile; and
        revokes every session including the calling one.

        The `users` row survives, anonymised. It has to: `comments.parent_id`
        is `ON DELETE CASCADE`, so deleting a comment in the middle of a
        thread would take every reply underneath it, and those replies belong
        to other people. A comment of the caller's that has replies is
        tombstoned in place — text replaced, authorship detached — while
        everything else is deleted outright. What remains carries no name,
        address, password, picture or biography.

        The username and email are released by the anonymisation, so the same
        name can be registered again afterwards.

        `confirm` must be the caller's username, typed out. That is not the
        security control — the password is — but it is what stops an
        irreversible action being the result of a mis-click.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password, confirm]
              properties:
                password: { type: string, format: password }
                confirm:
                  type: string
                  description: Must equal the caller's username exactly.
      responses:
        '200':
          description: Erased.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  deleted:
                    type: object
                    description: Row counts per table, for the audit trail.
                    additionalProperties: { type: integer }
        '400':
          description: Password missing, or `confirm` did not match the username.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Wrong password, or the CSRF header was missing.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ----------------------------------------------------------- Reporting
  /reports:
    post:
      tags: [Moderation]
      summary: Report a post or a comment
      description: |
        Open to any signed-in user. Rate-limited per account, because a
        report queue that anyone can flood is a queue nobody reads.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_type, target_id, reason]
              properties:
                target_type: { type: string, enum: [post, comment] }
                target_id:   { type: integer, minimum: 1 }
                reason:      { type: string }
                detail:      { type: string }
      responses:
        '201':
          description: Filed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  report: { $ref: '#/components/schemas/Report' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ---------------------------------------------------------- Moderation
  #
  # Every endpoint below answers 404 rather than 403 to a signed-in caller
  # who lacks the role. The moderation surface is not something an ordinary
  # user should be able to map: a 403 confirms the endpoint exists and is
  # worth attacking, while a 404 makes probing it indistinguishable from
  # probing nonsense. A missing session still gets 401 — that is not a
  # secret.
  /admin/reports:
    get:
      tags: [Moderation]
      summary: The report queue
      parameters:
        - name: status
          in: query
          schema: { type: string, enum: [open, resolved, dismissed] }
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items: { $ref: '#/components/schemas/Report' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/reports/{id}/resolve:
    post:
      tags: [Moderation]
      summary: Close a report
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                status: { type: string, enum: [resolved, dismissed] }
                note:   { type: string }
      responses:
        '200':
          description: Closed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  report: { $ref: '#/components/schemas/Report' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/posts/{id}/hide:
    post:
      tags: [Moderation]
      summary: Hide a post from every reader
      description: |
        Hiding, not deleting: the row stays so the report it came from still
        points at something, and so the decision can be undone.
      parameters:
        - $ref: '#/components/parameters/PostId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200': { description: Hidden. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/posts/{id}/unhide:
    post:
      tags: [Moderation]
      summary: Restore a hidden post
      parameters:
        - $ref: '#/components/parameters/PostId'
      responses:
        '200': { description: Restored. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/comments/{id}/hide:
    post:
      tags: [Moderation]
      summary: Hide a comment from every reader
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200': { description: Hidden. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/comments/{id}/unhide:
    post:
      tags: [Moderation]
      summary: Restore a hidden comment
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200': { description: Restored. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/users/{id}/ban:
    post:
      tags: [Moderation]
      summary: Suspend an account
      description: |
        A suspension blocks writes immediately, not just new logins — a ban
        that leaves an already-signed-in abuser posting is not a ban. It is
        enforced centrally by a request advice rather than per handler, so a
        new mutating endpoint cannot silently be exempt.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                days:   { type: integer, minimum: 1, default: 7 }
                reason: { type: string }
      responses:
        '200': { description: Suspended. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/users/{id}/unban:
    post:
      tags: [Moderation]
      summary: Lift a suspension
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, minimum: 1 }
      responses:
        '200': { description: Lifted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/CsrfMissing' }
        '404': { $ref: '#/components/responses/NotFound' }

  # --------------------------------------------------------- Feature flags
  /flags:
    get:
      tags: [Flags]
      summary: Public feature flags as evaluated for the caller
      description: |
        Only flags marked public are listed — the rest are not leaked by key,
        since a flag name describes unreleased work. Cached `private` for 30 s
        so a page load does not re-evaluate the whole set.
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  flags:
                    type: array
                    items:
                      type: object
                      properties:
                        key:     { type: string }
                        enabled: { type: boolean }

  /flags/{key}:
    get:
      tags: [Flags]
      summary: One flag, evaluated for the caller
      description: |
        An unknown key answers `200` with `known: false, enabled: false`
        rather than `404`. A client asking about a flag it has been shipped
        with should get a usable answer, not an error, when the server has
        not heard of it yet.
      security: []
      parameters:
        - name: key
          in: path
          required: true
          schema: { type: string, maxLength: 64 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:     { type: string }
                  known:   { type: boolean }
                  enabled: { type: boolean }
        '400': { $ref: '#/components/responses/BadRequest' }


components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: JSESSIONID
      description: HttpOnly session cookie issued by `/auth/login`.
    csrfHeader:
      type: apiKey
      in: header
      name: X-CSRF-Token
      description: |
        Double-submit value. Read its expected value from the
        non-HttpOnly `csrf_token` cookie and echo it back on every
        state-mutating request. Required on `POST`/`PUT`/`PATCH`/`DELETE`
        (except `/auth/login` and `/auth/register` which bootstrap the
        cookie).
    bearerMetricsToken:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: Set via the `BLOG_METRICS_TOKEN` env var. Optional in dev.

  parameters:
    IfNoneMatch:
      in: header
      name: If-None-Match
      required: false
      schema: { type: string }
      description: Echo the previous ETag here to revalidate; receive 304 on cache hit.
    PostId:
      in: path
      name: id
      required: true
      schema: { type: integer, minimum: 1 }

  headers:
    ETag:
      schema: { type: string, example: 'W/"6dfbb62472e910b2"' }
      description: Weak ETag (RFC 7232).

  responses:
    NotModified:
      description: Cached copy is fresh. Empty body.
      headers:
        ETag: { $ref: '#/components/headers/ETag' }
    BadRequest:
      description: Malformed request body / invalid parameters.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing or invalid session.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Authenticated but not allowed to operate on this resource.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    CsrfMissing:
      description: CSRF cookie/header pair missing or mismatched.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    PayloadTooLarge:
      description: Body exceeds the endpoint's hard cap.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Per-IP token-bucket budget exhausted.
      headers:
        Retry-After:
          schema: { type: integer, minimum: 1 }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    SessionEntry:
      type: object
      properties:
        sid:
          type: string
          description: |
            Session identifier. Not a credential — it names a session but
            cannot be used to authenticate as one.
        created_at:   { type: string }
        last_seen_at: { type: string }
        ip:           { type: string }
        user_agent:   { type: string }
        current:
          type: boolean
          description: True for the session making this request.
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error description. Stable identifiers are not promised; rely on the HTTP status for branching.

    Message:
      type: object
      required: [message]
      properties:
        message: { type: string }

    RegisterRequest:
      type: object
      required: [username, email, password]
      properties:
        username: { type: string, minLength: 3, maxLength: 64 }
        email:    { type: string, format: email }
        password: { type: string, format: password, minLength: 10 }

    RegisterResponse:
      type: object
      required: [message]
      properties:
        message:    { type: string }
        email_sent: { type: boolean }

    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username: { type: string }
        password: { type: string, format: password }

    LoginSuccess:
      type: object
      required: [message, user]
      properties:
        message: { type: string, const: Login successful }
        user:    { $ref: '#/components/schemas/CurrentUser' }

    TwoStepChallenge:
      type: object
      required: [two_step, challenge_id, methods]
      properties:
        two_step:     { type: boolean, const: true }
        challenge_id: { type: string }
        methods:
          type: array
          items: { type: string, enum: [totp, recovery, webauthn] }

    TwoFactorStatus:
      type: object
      required: [totp_enabled, webauthn_enabled, recovery_codes_remaining]
      properties:
        totp_enabled:     { type: boolean }
        webauthn_enabled: { type: boolean }
        recovery_codes_remaining: { type: integer, minimum: 0 }

    WebAuthnCredential:
      type: object
      required: [id, created_at]
      properties:
        id:         { type: integer }
        nickname:   { type: string }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time, nullable: true }
        sign_count: { type: integer, minimum: 0 }

    CurrentUser:
      type: object
      required: [id, username, email]
      properties:
        id:       { type: integer, minimum: 1 }
        username: { type: string }
        email:    { type: string, format: email }
        bio:      { type: string }
        profile_image: { type: string }

    PublicUser:
      type: object
      required: [id, username]
      properties:
        id:            { type: integer, minimum: 1 }
        username:      { type: string }
        bio:           { type: string }
        created_at:    { type: string, format: date-time }
        profile_image: { type: string }

    ProfileUpdate:
      type: object
      description: All fields optional — only present ones are applied.
      properties:
        email:    { type: string, format: email }
        bio:      { type: string, maxLength: 8192 }
        password: { type: string, format: password, minLength: 10 }

    PostCreate:
      type: object
      required: [title, content]
      properties:
        title:   { type: string, minLength: 1, maxLength: 5120 }
        content: { type: string, minLength: 1, maxLength: 102400 }
        tags:
          type: array
          maxItems: 8
          description: |
            Free-form labels; the server slugs and deduplicates them, so
            `["C++", "c++"]` becomes one tag. Also accepted as a single
            comma-separated string, which is what a text input produces.
          items: { type: string }
        draft:
          type: boolean
          default: false
          description: |
            A draft is invisible to everyone but its author — absent from
            the feed, tag listings and search, and `404` rather than `403`
            to another reader.

    PostUpdate:
      type: object
      description: |
        Omitting `tags` leaves them untouched; passing an empty array clears
        them. Omitting `draft` leaves the published state alone.
      properties:
        title:   { type: string, maxLength: 5120 }
        content: { type: string, maxLength: 102400 }
        tags:
          type: array
          maxItems: 8
          items: { type: string }
        draft:   { type: boolean }

    Post:
      type: object
      required: [id, title, content, created_at, updated_at]
      properties:
        id:           { type: integer, minimum: 1 }
        title:        { type: string }
        content:      { type: string }
        content_html:
          type: string
          description: |
            Sanitized HTML render of `content`, produced by cmark-gfm in SAFE
            mode. Fenced code blocks carry the fence's info string on the
            `<pre>`; the client moves it to `data-lang`, because `lang` is the
            HTML *human language* attribute and `sql` is not a language tag.
        created_at:   { type: string, format: date-time }
        updated_at:   { type: string, format: date-time }
        published_at:
          type: string
          format: date-time
          nullable: true
          description: Null while the post is a draft.
        is_draft:
          type: boolean
          description: |
            Sent on the single-post and drafts endpoints only. The feed never
            contains drafts, so its absence there is not a missing field.
        reading_minutes:
          type: integer
          minimum: 1
          description: Estimated at 200 words per minute; never zero, because "0 min read" reads as a bug.
        view_count:      { type: integer, format: int64 }
        excerpt:
          type: string
          description: |
            Plain-text summary with the Markdown stripped, so a card cannot
            show a literal `##` or a code fence.
        tags:
          type: array
          items: { $ref: '#/components/schemas/Tag' }
        bookmarked:
          type: boolean
          description: >-
            The viewer's own saved state. Single-post endpoint only, so the
            response carries `Vary: Cookie`.
        author:
          type: object
          properties:
            id:            { type: integer }
            username:      { type: string }
            profile_image: { type: string }

    PostList:
      type: object
      required: [posts]
      properties:
        posts:
          type: array
          items: { $ref: '#/components/schemas/Post' }
        next_cursor:
          type: integer
          nullable: true
          description: |
            Pass back as `cursor` to fetch the next page. `null` when
            the current page was the last.

    PostSearchHit:
      type: object
      required: [id, title, snippet]
      properties:
        id:         { type: integer }
        title:      { type: string }
        snippet:    { type: string, description: HTML — `<mark>` wraps the matched terms. }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        rank:       { type: number, format: float }
        author:
          type: object
          properties:
            id:            { type: integer }
            username:      { type: string }
            profile_image: { type: string }

    Comment:
      type: object
      required: [id, content, created_at]
      properties:
        id:         { type: integer, minimum: 1 }
        content:
          type: string
          description: |
            `[deleted]` when the author erased their account and this comment
            had replies. The row survives in that case because
            `comments.parent_id` cascades — deleting it would delete other
            people's replies with it.
        parent_id:
          type: integer
          nullable: true
          description: The comment this one replies to; null for a top-level comment.
        created_at: { type: string, format: date-time }
        author:
          type: object
          properties:
            id:            { type: integer }
            username:      { type: string }
            profile_image: { type: string }

    DirectMessage:
      type: object
      required: [id, sender_id, receiver_id, content, created_at]
      properties:
        id:          { type: integer, minimum: 1 }
        sender_id:   { type: integer }
        receiver_id: { type: integer }
        content:     { type: string }
        created_at:  { type: string, format: date-time }
        read_at:     { type: string, format: date-time, nullable: true }
        content_truncated:
          type: boolean
          description: |
            True when the WS preview was truncated to fit under PG's
            8 KiB NOTIFY payload cap. Re-fetch via `/messages/conversation/{userId}`
            to get the full body.

    Tag:
      type: object
      required: [slug, label]
      properties:
        slug:
          type: string
          maxLength: 39
          description: |
            Normalised identifier — what the URL carries. Slugging is what
            makes `C++`, `c++` and ` C ++ ` one tag rather than three.
        label:
          type: string
          description: The spelling the first author to use the tag typed, for display.

    TagSummary:
      allOf:
        - $ref: '#/components/schemas/Tag'
        - type: object
          required: [count]
          properties:
            count:
              type: integer
              description: Published posts carrying this tag.

    FollowStats:
      type: object
      required: [followers, following, is_following]
      properties:
        followers: { type: integer, format: int64 }
        following: { type: integer, format: int64 }
        is_following:
          type: boolean
          description: |
            The *caller's* relationship to this user. Always false for an
            anonymous reader, which is why the response carries `Vary: Cookie`.

    Notification:
      type: object
      required: [id, kind, created_at, read]
      properties:
        id:         { type: integer, format: int64 }
        kind:
          type: string
          enum: [comment, reply, follow, new_post, like]
        created_at: { type: string, format: date-time }
        read:       { type: boolean }
        actor:
          type: object
          description: Who caused it. Absent when the account has since been erased.
          properties:
            id:            { type: integer }
            username:      { type: string }
            profile_image: { type: string }
        post_id:    { type: integer }
        comment_id: { type: integer }
        post_title: { type: string }
        comment_preview:
          type: string
          description: First characters of the comment, so the list is readable without a fetch per row.

    Report:
      type: object
      required: [id, target_type, target_id, reason, status, created_at]
      properties:
        id:          { type: integer }
        target_type: { type: string, enum: [post, comment] }
        target_id:   { type: integer }
        reason:      { type: string }
        detail:      { type: string }
        status:      { type: string, enum: [open, resolved, dismissed] }
        created_at:  { type: string, format: date-time }
        resolved_at: { type: string, format: date-time, nullable: true }
        resolution_note: { type: string, nullable: true }

    AccountExport:
      type: object
      required: [export_version, generated_at, account]
      description: |
        Every section is always present, even when empty, so a consumer can
        tell "you have none of these" from "this export does not cover that".
      properties:
        export_version: { type: integer, const: 1 }
        generated_at:   { type: string, format: date-time }
        account:
          type: object
          properties:
            id:             { type: integer }
            username:       { type: string }
            email:          { type: string, format: email }
            bio:            { type: string, nullable: true }
            profile_image:  { type: string, nullable: true }
            role:           { type: string }
            email_verified: { type: boolean }
            created_at:     { type: string, format: date-time }
            updated_at:     { type: string, format: date-time }
        posts:
          type: array
          description: Drafts included — they are the author's data too.
          items: { type: object, additionalProperties: true }
        comments:          { type: array, items: { type: object, additionalProperties: true } }
        likes:             { type: array, items: { type: object, additionalProperties: true } }
        bookmarks:         { type: array, items: { type: object, additionalProperties: true } }
        following:         { type: array, items: { type: object, additionalProperties: true } }
        followers:         { type: array, items: { type: object, additionalProperties: true } }
        messages_sent:     { type: array, items: { type: object, additionalProperties: true } }
        messages_received: { type: array, items: { type: object, additionalProperties: true } }
        notifications:     { type: array, items: { type: object, additionalProperties: true } }
        sessions:          { type: array, items: { type: object, additionalProperties: true } }
        reports_filed:
          type: array
          description: |
            Reports the caller filed. Not reports filed *about* them — those
            are somebody else's statement, and returning them would
            deanonymise the reporter.
          items: { type: object, additionalProperties: true }


x-websockets:
  /ws/messages:
    summary: Realtime message hub
    description: |
      Subscribe with the session cookie to receive `pg_notify`-driven
      events whenever a new message is inserted for the authenticated
      user. The hub also fans out post / comment subscriptions for the
      activity feed.

      Frame shape (server → client):

      ```json
      {
        "type": "new_message",
        "message": { ...DirectMessage }
      }
      ```

      Subscriptions are per-connection; a single connection may
      subscribe to up to 50 posts (`subscribe_to_post`). Connections
      from disallowed origins are rejected before authentication.
